<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo... App</title>
</head>
<body>
    <h1>ToDo App XYZ</h1>
    <form action="/add" method="post">
        <input type="text" name="description" required>
        <button type="submit">Add Task</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                {% if task[2] == 0 %}
                    {{ task[1] }}
                    <a href="{{ url_for('complete', task_id=task[0]) }}">Complete</a>
                {% else %}
                    <del>{{ task[1] }}</del>
                {% endif %}
                <a href="{{ url_for('delete', task_id=task[0]) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
