<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo... App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <div class="todo-app">
    <h2>ToDo App...</h2>
    <form action="/add" method="post">
        <div class="row">
        <input type="text" name="description" required id="input-box" placeholder="Add your tasks">
        <button type="submit">Add</button>
        </div>
    </form>
    <ul id="list-container">
        {% for task in tasks %}
            <li>
                {% if task[2] == 0 %}
                    {{ task[1] }}
                    <a href="{{ url_for('complete', task_id=task[0]) }}">DONE <span>&#10004;</span></a>
                {% else %}
                    <del>{{ task[1] }}</del>
                {% endif %}
                <a href="{{ url_for('delete', task_id=task[0]) }}">DELETE <span>&#10008;</span></a>
            </li>
        {% endfor %}
    </ul>
    </div>
    </div>
</body>
</html>
